.modal-content {
    width: fit-content !important;
}

.modal.show .modal-dialog {
    display: flex;
    justify-content: center;
}

.popup {
    margin: 0;
    padding: 0;
    border: none;
}

@media only screen and (max-width:428px) {
    .popup a img {
        width: 100%;
        height: fit-content;
    }
}