.layanan-section {
    font-family: 'Poppins', sans-serif;
    /* background-color: #F3F4F5; */
    color: white;
    padding: 5rem 0;
    width: 100%;
}

.layanan-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layanan-row-col-1 {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.layanan-row-col-1-h31 {
    font-size: 3rem;
    font-weight: 600;
    color: #212529;
    /* text-shadow: 2px 2px 4px rgb(22, 22, 22); */
}

.layanan-row-col-1-h32 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 4rem;
    color: #212529;
    /* text-shadow: 2px 2px 4px rgb(95, 95, 95); */
}

.layanan-row-col-2 {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #212529;
}

.layanan-row-col-2-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.layanan-row-col-2-row-col {
    /* margin: 0 30px !important; */
    display: flex;
    justify-content: center;
}

.layanan-card {
    height: 770px !important;
    padding: 2rem 1rem;
    width: 24rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 2px 2px 4px 4px rgb(231, 231, 231);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.layanan-card-title {
    font-size: 2rem !important;
    font-weight: 800 !important;
    margin-bottom: 1.5rem !important;
    text-align: center;
}

.layanan-card-title-gambar {
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.layanan-card-text{
    text-align: center;
    font-weight: 600 !important;
    line-height: 2;
}

.layanan-list {
    text-align: left;
    margin-bottom: 1rem;
    font-weight: 600;
    list-style: circle;
}

@media only screen and (max-width: 1280px) {
    .layanan-row-col-2-row-col {
        /* margin: 0 30px !important; */
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
    }

    .layanan-card {
        height: 100% !important;
        padding: 2rem 2rem;
        width: 18rem;
    }
}

@media only screen and (max-width: 991px) {
    .layanan-row-col-2-row-col {
        /* margin: 0 30px !important; */
        display: flex;
        justify-content: center;
        margin-bottom: 2.5rem;
    }

    .layanan-card {
        height: 100% !important;
        padding: 2rem 2rem;
        width: 25rem;
    }
}

@media only screen and (max-width: 390px){
    .layanan-card {
        height: 100% !important;
        padding: 2rem 2rem;
        width: 25rem;
    }
}