.navbar-section {
    font-family: 'Poppins', sans-serif;
}

.navbar-image-img {
    width: 250px;
    background-color: black;
    border: 1px solid black;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    padding: 5px 10px;
}

.navbar-button-join-tele-bg {
    margin-right: 10px;
}

.navbar-join-tele {
    display: flex;
    align-items: center;
}

/* .navbar-telgram-icon {

} */

.navbar-telegram-icon-img {
    width: 23px;
    height: 23px;
    margin-right: 0.5rem;
}

.navbar-applynow {
    display: flex;
    align-items: center;
}

.navbar-offcan {
    width: 50% !important;
}

@media only screen and (max-width: 991px){
    .navbar-button-join-tele-bg {
        margin-right: 0px;
    }

    .navbar-button {
        margin-bottom: 20px;
    }
    .navbar-button-joinfl {
        display: none;
    }

    .navbar-offcan-body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 !important;
    }
}

@media only screen and (max-width: 430px){
    .navbar-item-isi {
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .navbar-button {
        margin: 0 !important;
    }

    .navbar-image-img {
        width: 200px;
    }

    .navbar-join-tele {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
}